stepfunctions/secretscanner.yml
Comment: >-
  A state machine that coordinates the remediation of security findings from GitHub Secret Scanning
StartAt: Validate GitHub Secret
States:
  Validate GitHub Secret:
    Type: Task
    Resource: "${GitHubWebhookSecretValidatorFunctionArn}"
    TimeoutSeconds: 10
    HeartbeatSeconds: 30
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - States.Timeout
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 2
    Catch:
      - ErrorEquals:
          - States.ALL
        ResultPath: "$"
        Next: Process Error
    ResultPath: "$"
    Next: Success State
  Process Error:
    Type: Pass
    Parameters:
      Cause.$: States.StringToJson($.Cause)
    OutputPath: "$.Cause.errorMessage"
    Next: Fail State
  Success State:
    Type: Succeed
  Fail State:
    Type: Fail
